/packages
/ContactsCollector/bin
/ContactsCollector/obj
/.vs/ContactsCollector/v16/.suo
/.vs
/ContactsViewer/bin
/ContactsViewer/obj
/Libraries/bin
/Libraries/obj
/viewer/bin
/viewer/obj
/scheduler/bin
/scheduler/obj
